.button {
    width: 15%;
    min-width: 50px;
    min-height: 48px;
    color: $button-textcolor;
    border: none;
    border-radius: 10px;
    outline: none;

    &:hover {
        cursor: pointer;          
    }

    &:hover, :focus {
        filter: brightness(120%);
        box-shadow: 4px 2px 5px rgba(133, 133, 133, 0.459);
    }

}